# Assignment 17

In [8]:
!pip install ipython-sql

%load_ext sql

!env | grep POST

import os
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
WARNING: There was an error checking the latest version of pip.
The sql extension is already loaded. To reload it, use:
  %reload_ext sql
POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

1) 1. For the given ticket_no 0005432312164, find: who and where flew.

In [16]:
%%sql $CONNECT_DATA
Select DISTINCT passenger_name, city
From (
Select *
From tickets t, ticket_flights tf, flights f, airports a
Where t.ticket_no = '0005432312164'
And t.ticket_no = tf.ticket_no
And tf.flight_id = f.flight_id
And f.arrival_airport = a.airport_code) as al_1

3 rows affected.

[('ALEKSEY GERASIMOV', 'Anapa'),
 ('ALEKSEY GERASIMOV', 'Belgorod'),
 ('ALEKSEY GERASIMOV', 'Moscow')]

In [11]:
%%sql $CONNECT_DATA
Select DISTINCT passenger_name, city
From tickets t, ticket_flights tf, flights f, airports a
Where t.ticket_no = '0005432312164'
And t.ticket_no = tf.ticket_no
And tf.flight_id = f.flight_id
And f.arrival_airport = a.airport_code

3 rows affected.

[('ALEKSEY GERASIMOV', 'Anapa'),
 ('ALEKSEY GERASIMOV', 'Belgorod'),
 ('ALEKSEY GERASIMOV', 'Moscow')]

In [9]:
%%sql $CONNECT_DATA
Select DISTINCT passenger_name, city
From tickets
INNER JOIN ticket_flights ON tickets.ticket_no = ticket_flights.ticket_no
INNER JOIN flights ON ticket_flights.flight_id = flights.flight_id
INNER JOIN airports ON flights.arrival_airport = airports.airport_code
Where tickets.ticket_no = '0005432312164'

3 rows affected.

[('ALEKSEY GERASIMOV', 'Anapa'),
 ('ALEKSEY GERASIMOV', 'Belgorod'),
 ('ALEKSEY GERASIMOV', 'Moscow')]

2. Extend that solution about Mrs. 'ELLA DMITRIEVA' - from where and to where she flew.

In [25]:
%%sql $CONNECT_DATA
SELECT air_dep.city as departure_city, departure_airport, air_arr.city as arrival_city, arrival_airport
FROM Flights
JOIN Ticket_flights USING (flight_id)
JOIN Tickets USING (ticket_no)
JOIN Airports air_dep ON Flights.departure_airport = air_dep.airport_code
JOIN Airports air_arr ON Flights.arrival_airport = air_arr.airport_code
WHERE passenger_name = 'ELLA DMITRIEVA'

7 rows affected.

[('Moscow', 'SVO', 'Yekaterinburg', 'SVX'),
 ('Yekaterinburg', 'SVX', 'Moscow', 'SVO'),
 ('Yekaterinburg', 'SVX', 'Magnetiogorsk', 'MQF'),
 ('Magnetiogorsk', 'MQF', 'Yekaterinburg', 'SVX'),
 ('Moscow', 'DME', 'Yuzhno-Sakhalinsk', 'UUS'),
 ('Moscow', 'DME', 'Khanty-Mansiysk', 'HMA'),
 ('Khanty-Mansiysk', 'HMA', 'Moscow', 'DME')]

3. Output a grid: Aircraft model/Total number of seats.

In [31]:
%%sql $CONNECT_DATA
Select model, COUNT(seat_no)
From Seats
Join Aircrafts Using (aircraft_code)
Group by model
Order by COUNT(seat_no) DESC

9 rows affected.

[('Boeing 777-300', 402),
 ('Boeing 767-300', 222),
 ('Airbus A321-200', 170),
 ('Airbus A320-200', 140),
 ('Boeing 737-300', 130),
 ('Airbus A319-100', 116),
 ('Sukhoi Superjet-100', 97),
 ('Bombardier CRJ-200', 50),
 ('Cessna 208 Caravan', 12)]